* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: aliceblue;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(66, 66, 66);
}

.mainbody {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

#game-box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.word-display {
    display: flex;
    list-style: none;
    gap: 10px;
}

.word-display .letter {
    width: 28px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    border-bottom: 3px solid aliceblue;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    color: transparent;
}

.word-display .letter.guessed {
    border-color: transparent;
    color: aliceblue;
    margin: 0 -10px;
}

.container {   
    width: 60%;
    background: rgb(235, 76, 76);
    padding: 60px 40px;
    border-radius: 10px;
    gap: 70px;
    align-items: flex-end;
}

.hidden {
    display: none;
}

.guess-box {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.guess-box input {
    font-size: 2rem;
    font-weight: 400;
}

.guess-counter {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.guess-counter input {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.hint-text {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.phrase-box {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.start-div {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.start-div button {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.hint-text input {
    font-size: 1.5rem;
    font-weight: 500;
}

.phrase-box input {
    font-size: 1.5rem;
    font-weight: 500;
}

.wrong-guesses {
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}



