* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: gray;
}

.mainbody {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

#game-box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.word-display {
    display: flex;
    gap: 10px;
    list-style: none;
}

.word-display .letter {
    width: 28px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    border-bottom: 3px solid aliceblue;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.word-display .letter.guessed {
    border-color: transparent;
    margin: -10px 0 5px;
}

.container {   
    width: 80%;
    background: rgb(226, 67, 67);
    padding: 60px 40px;
    border-radius: 10px;
    gap: 70px;
    align-items: flex-end;
}

.container h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.container h4 span {
    font-weight: 600;
}

.hidden {
    display: none;
}

.guess-box {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.guess-box input {
    font-size: 2rem;
    font-weight: 400;
}

.guess-counter {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.guess-counter input {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.hint-text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.phrase-box {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.start-div {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.start-div button {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.hint-text input {
    font-size: 1.5rem;
    font-weight: 500;
}

.phrase-box input {
    font-size: 1.5rem;
    font-weight: 500;
}



